@import '../../variables.scss';

section.profile{
    .info{
        padding-top:150px;
        .error{
            font-size: .9em;
            padding-top: 10px;
            color:$errorColor;
            transition: all .5s; 
        }
        .title{
            color:#fff;
            font-size: 1.5em;
            font-weight: 700;
        }
        .details{
            padding: 60px 0 10px;
            .profile{
                width: 90px;
                height: 90px;
                background-size: cover;
                border-radius: 50%;
                border: 1px solid #fff;
                margin-right: 60px;
              }
            .username{
                font-size: 1.2em;
                font-weight: 600;
                color:#fff;
                padding-bottom: 10px;
            }
            .email{
                color:#b8b8b8;
                padding-bottom: 10px;
            }
            form{
                width: 20vw;
                padding-top: 80px;
                .subtitle{
                    color:#fff;
                    font-size: 1.3em;
                }
                .field{
                    margin-top: 50px;
                    width: 100%;
                    margin-bottom:50px;
                    .label{
                        color:#fff;
                        font-size: .9em;
                        padding-bottom: 30px;
                    }
                    input{
                        width: 100%;
                        padding:12px 15px;
                        font-size: .9em;
                        color:#ccc;
                        background: #171717;
                        border: 1px solid #2F2F2F;
                    }
                }
                .btn{
                    width: 96%;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    section.profile{
        .info{
            padding-top: 80px;
            text-align: center;
            .details{
                padding-top: 20px;
                flex-direction: column;
                .profile{
                    text-align: center;
                    width: 100px;
                    height: 100px;
                    margin:0 auto 30px;
                }
                form{
                    text-align: left;
                    width: 50vw;
                    padding-top: 20px;
                }
            }
        }
    }
}