@import "../../variables.scss";

.body {
  padding: 120px $sidePadding 10px;
  color: rgba(250, 250, 250, 0.4);
  overflow-x: hidden;
}

.body .focus {
  width: 60vw;
}

@media only screen and (max-width: 768px) {
  $sidePadding: 15px;
  .body {
    padding: 80px $sidePadding 10px;
    padding-left: 0;
    padding-right: 0;
  }
  .body .focus {
    width: 100%;
  }
}
