.body .genre {
  min-width:100px;
}

.body .genre .title {
  color: #fff;
}

.body .genre .items {
  padding-bottom: 40px;
}

.body .genre .item {
  padding-top: 15px;
  font-size: 0.9em;
}

.body .genre .item:hover {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .genre {
    display: none;
    min-width: 200px;
    padding-left:30px;
  }
}
